# منع الوصول لملفات قواعد البيانات
<FilesMatch "\.db$">
    Order allow,deny
    Deny from all
</FilesMatch>

# منع الوصول لملف الأسرار
<FilesMatch "^\.env">
    Order allow,deny
    Deny from all
</FilesMatch>

# منع الوصول لملفات البايثون المجمعة
<FilesMatch "\.pyc$">
    Order allow,deny
    Deny from all
</FilesMatch>

# منع الوصول للسجلات
<FilesMatch "\.log$">
    Order allow,deny
    Deny from all
</FilesMatch>
